.login-page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.login-card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* justify-content: space-around; */
  margin: 50px;
}
body {
  background-color: #f9f9f9;
}

.login-button {
  background-color: #ff5722;
  margin-top: 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.login-button:hover {
  background-color: #fd6e43;
}

.forgot-link :hover {
  color: #ff5722;
}
h5 {
  color: black;
  text-align: center;
  margin-bottom: 1;
}
.input-field {
  text-align: left;
  color: black;
}
.forgot-link {
  color: #9b9b9b;
  display: flex;
  justify-content: center;
  font-size: smaller;
}
.userInput {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  color: black;
  border-radius: 3px;
}
