.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.nav-links {
    display: flex;
    /* YOUR TASK: Remove default list styling */
    list-style: circle;
    margin: 0;
    padding: 0;
}

.nav-links li {
    /*display: flex;*/
    margin: 0 1rem;
}
.nav-links a{
    color: white;

}