.navbar-container {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
h2 {
  color: #fe835e;
}
h2:hover {
  color: #fc3b01;
}
.content {
  display: flex;
}
.dashboard-con {
  display: flex;
  justify-content: space-between;
}
.top-portion {
  display: flex;
  padding-left: 20px;
}
.middle-portion {
  display: flex;
  /* justify-content: space-around; */
  gap: 734px;
  padding-left: 20px;
}
.metrics-info {
  display: flex;
  padding-left: 20px;
}
.equidity,
.comodity {
  width: 50%;
  color: #000000;
}
.sidebar-table {
  width: 30%;
}
