* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #000000;
  color: white; */
}
.navbar-container {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
h2 {
  color: #fe835e;
}
h2:hover {
  color: #fc3b01;
}
.content {
  display: flex;
}
.dashboard-con {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-portion {
  display: flex;
  padding: 20px;
  width: 100%;
}
.middle-portion {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  font-size: small;
}
.metrics-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.equidity,
.comodity {
  color: #000000;
  width: 25%;
  border-right: 1px solid black;
}
.sidebar-table {
  width: 100%;
}
.dashboard-content {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  padding: 20px;
}
.equidity .value,
.comodity .value {
  font-size: xxx-large;
}
.metrics-info .value {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 20px;
  padding-left: 0px;
}
.metrics-info .value1 {
  font-size: x-small;
}
.metrics-info .valueinfo {
  font-size: small;
}
.middle-portion .metrics {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headings .header2 {
  margin-left: auto;
  margin-right: 264px;
  display: flex;
  align-items: anchor-center;
  gap: 1px;
}
.headings {
  display: flex;
  padding: 20px;
  width: 100%;
  gap: 1px;
  align-items: anchor-center;
}
.metrics-info .head {
  display: flex;
  align-items: anchor-center;
  gap: 1px;
  border-top: 1px solid;
  padding: 20px;
  padding-left: 0px;
}
.value .v {
  font-size: x-small;
  margin-right: auto;
  margin-top: 41px;
  margin-left: 5px;
  color: green;
}
.valueinfo {
  display: flex;
  flex-direction: column;
}
.value {
  align-items: anchor-center;
}
.value .amount {
  font-size: xxx-large;
  color: green;
}
.metrics a {
  color: blue;
}
