.navbar-container {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
h2 {
  color: #fe835e;
}
h2:hover {
  color: #fc3b01;
}
.content {
  display: flex;
}
.dashboard-con {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-portion {
  display: flex;
  padding-left: 20px;
  width: 100%;
}
.middle-portion {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  width: 100%;
}
.metrics-info {
  display: flex;
  padding-left: 20px;
}
.equidity,
.comodity {
  color: #000000;
  width: 50%;
}
.sidebar-table {
  width: 30%;
}
.dashboard-content {
  width: 70%;
  border: 1px solid grey;
  margin: 10px;
}
