.checkBook {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
}
.buttons1 {
  background: white;
  border: none;
}
.buttons2 {
  padding: 20px;
  background: white;
  border: none;
  border-left: 1px solid black;
}
.buttongroup {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
