.content {
  display: flex;
}
.button {
  background-color: #00a1ff;
  color: white;
}
.holdingdata {
  width: 70%;
  margin: 10px;
  border: 1px solid gray;
}
.sidebar-table {
  width: 100%;
  margin: 10px;
}